# Ignore model checkpoints and intermediate files
*.csv
*.arrow
*.pt
# Ignore the generated Parquet and Arrow shards
global_nids_matrix.parquet


# Ignore virtual environments
venv/
.conda/
data/*



